
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: rgb(27, 23, 23);
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin: 5px 0;
  text-align: center;
}

.to-do_test{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* estilos del logo */
.logo_contenedor{
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do_logo {
  width: 400px;
  height: 100px;
}

/* estilos de la lista de tareas */

.tareas {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 20px;
}